/*** Styling general de la pagina ***/
body {
    margin: 0;
    background: #12135B;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/*** Navbar ***/

/* Upper Navbar */

.upper_nav {
    display: flex;
    gap: 25rem;
    width: auto;
    background: rgba(67, 216, 213, 0.73);
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

/* Styling del logo */
.left img {
	width: 15rem;
	height: auto;
}

/* Styling del search bar */
.left {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    width: auto;
    height: 2rem;
    margin-left: 1rem;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search input {
    font-size: 16px;
    width: 20rem;
    height: 2rem;
    padding: 0 10px;
    border: 0;
    outline: none;
    background: transparent;
    color: #12135B;
}

.search_icon {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.search img {
    width: 1.09rem;
    height: 1.0rem;
}

/* Styling de los iconos */
.right {
    display: flex;
    gap: 1.5rem;
}

.right img {
    width: 1.6rem;
    height: 1.7rem;
}


/* Lower Navbar */
.lower_nav {
    width: 100%;
    margin: 1rem 0;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.lower_nav ul {
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
/* Configuracion de los a tags en el lower navbar  */
.lower_nav a {
	font-size: 14px;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
}

.lower_nav a:hover {
    background-color: #EE5D63;
    font-weight: 700;
    border-radius: 15px;
}

/*** Contenido Principal: Body ***/
section {
    margin: 1rem 3rem 6rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;     
}

.contenido {
    display: flex;
    gap: 3rem;
}
span{
    color: red;
}
.left-section{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    #componente{
    	font-family: 'Urbanist', sans-serif;
    	font-weight: 500;
    	font-size: 15px;
        width: 450px;
        height: 450px;
        border-radius: 20px;
        padding: 30px 0 0 30px;
        background-color: #1C1B77;
        .celda{
            width: 400px;
            height: 40px;
            border-radius: 10px;
            border: solid 2px #1C1B77;
        }
        #submit{
            width: 150px;
            height: 40px;
            border-radius: 10px;
            margin: 20px 0 0 0;
            font-size: 1.1rem;
            border: solid 2px #1C1B77;
            background-color: #FF7900;
            color: white;
            font-weight: bold;
        }
        >form>label{
            display: inline-block;
            margin: 10px 0 10px 0;
        }
        #finicio{
            margin-top: 30px;
        }
    }
}
a#submit-a{
	display: inline-block;
	box-sizing: border-box;  
	width: 150px;
    height: 40px;
    border-radius: 10px;
    margin: 20px 0 0 0;
    padding-top: 5.5px;
    font-size: 19px;
    font-family: 'Urbanist', sans-serif;
    border: solid 2px #1C1B77;
    background-color: #FF7900;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
a#submit-a:hover{
    cursor: pointer;
}
#submit:hover{
    cursor: pointer;
}
.mensaje{
	color: red;
}

.right-section{
    >.imagen{
        width: 450px;
        height: 450px;
        margin: 0 100px 0 0;
        >img{
            top: -10%;
            width: 400px;
            height: auto;
            border-radius: 10px;
            position: relative;
        }
    }
}
#img-chem{
    top: 5% !important;
    width: 450px   !important;
}
#img-pro{
    top: 10% !important;
    width: 550px !important;
    right: 50px;
}

/*** Footer ***/
footer {
    display: flex;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 55px;
    font-size: 14px;
    color: #ffffffd0;
    padding: 25px;
    background: rgba(67, 216, 213, 0.73);
}

.menu ul {
    display: flex;
    gap: 3rem;
    list-style: none; 
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: #ffffffd0;
}

.menu a:hover {
    font-weight: 700;
} 

.logout {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    padding: 9px 17px;
    border-radius: 15px;
    
    background-color: #EE5D63;
}

.logout:hover {
    cursor: pointer;
    opacity: 0.5;
}
